<nav block="sidebar">
  <h1 elem="logo">
    <a elem="logo-link" routerLink="/home" routerLinkActive="active">
      {{appTitle}}
    </a>
  </h1>
  <ul elem="list">
    <li elem="item">
      <a elem="link" routerLink="/products" routerLinkActive="active">
        Produits
      </a>
    </li>
    <li elem="item">
      <a elem="link" routerLink="/dashboard" routerLinkActive="active">
        Dashboard
      </a>
    </li>
    <li elem="item">
      <a elem="link" routerLink="/comparison" routerLinkActive="active">
        Comparaison
      </a>
    </li>
    <li elem="item">
      <a elem="link" routerLink="/influencers" routerLinkActive="active">
        Influenceurs
      </a>
    </li>
    <li elem="item">
      <a elem="link" routerLink="/trends" routerLinkActive="active">
        Tendances
      </a>
    </li>
    <li elem="item">
      <a elem="link" routerLink="/competitors" routerLinkActive="active">
        Concurrents
      </a>
    </li>
    <li elem="item">
      <a elem="link" routerLink="/reports" routerLinkActive="active">
        Rapports
      </a>
    </li>
    <li elem="item">
      <a elem="link" routerLink="/settings" routerLinkActive="active">
        Réglages
      </a>
    </li>
  </ul>
</nav>
